*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar {
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #000000;
    background-image: linear-gradient(to bottom, #e9e9e9 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
  }

.fa-gem{
    display: flex;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: rgb(165, 160, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(212, 104, 2);
    color: rgb(214, 100, 24);
}

.button:hover{
    background-color: rgb(211, 89, 19);
    transition: all 0.5s ease;
}

.navbar__links:hover {
    color: rgb(122, 18, 207);
    transition: all 0.9s ease;
    text-decoration: underline;
}



.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 70vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 3rem;
    background-color: whitesmoke;
    background-image: linear-gradient(to top, #e9e9e9 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration-line: underline;
    text-align: left;
}

.main__content h2 {
    font-size: 2rem;
    background-color: rgb(90, 47, 47);
    background-image: linear-gradient(to top, #e9e9e9 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.main__btn {
    font-size: 1.2rem;
    font-weight: 600;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199, 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;

    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    transform: translateX(-300px);
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main__btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(122, 18, 207);
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover::after{
    width: 100%
}

.main__img--container{
    text-align: center;
}

#main__img {
    height: 8%;
    width: 80%;
}

.main__content u{
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-decoration-color: linear-gradient(to top, #e9e9e9 0%, #0021f100);
}

.main__content p {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: 600; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.main__content li {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: white;
    text-align: center;
}

.main__content ul {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
}

/*Animations*/

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.fadeInLeft {
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;
}

@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInTop {
    -webkit-animation: fadeInTop 1.2s both;
    -moz-animation: fadeInTop 1.2s both;
    -o-animation: fadeInTop 1.2s both;
    animation: fadeInTop 1.2s both; 
}

@keyframes fadeInTop {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

.fadeInRight {
    -webkit-animation: fadeInRight 1.2s both;
    -moz-animation: fadeInRight 1.2s both;
    -o-animation: fadeInRight 1.2s both;
    animation: fadeInRight 1.2s both; 
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/*End Animations*/

/*Skills Sections*/

.skills {
    background-color: #141414;
}

.skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 70vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.skills__content h1 {
    font-size: 3rem;
    background-color: whitesmoke;
    background-image: linear-gradient(to top, #e9e9e9 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 3rem;
}

.skills__content h2 {
    font-size: 2rem;
    background-color: rgb(90, 47, 47);
    background-image: linear-gradient(to top, #e9e9e9 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.skills__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199, 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;

    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    transform: translateX(-300px);
}

.skills__btn a {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.skills__btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(122, 18, 207);
    transition: all 0.35s;
    border-radius: 4px;
}

.skills__btn:hover {
    color: #fff;
}

.main__btn:hover::after{
    width: 100%
}


.skills__content u{
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-decoration-color: linear-gradient(to top, #e9e9e9 0%, #0021f100);
}

.skills__content p {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: 600; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: left;

}

.skills__content li {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: white;
    text-align: left;
}

.skills__content ul {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
}

/*End skills section*/

/*Footer Section*/

.footer__container{
    background-color: #141414;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #000000;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__links--wrapper {
    display: flex;
}

.footer__links--items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 15px;
}

.footer__link--items > h2 {
    color: white;
}

.footer__link--items a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0.9rem;
}

.footer__links--items a:hover {
    color: #6845a8;
    transition: 0.3s ease-out;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    #footer__logo {
        margin-bottom: 2rem;
    }
}
