*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "VT323", monospace;
}

@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");



/*Font stuff*/
/*
@font-face {
    font-family: 'MonumentExtended-Regular' ;
    src: url(fonts/MonumentExtended-Regular.otf) format('OpenType');
}

@font-face {
    font-family: 'degarism-studio-alliance-no.2';
    src: url(/fonts/Degarism\ Studio\ -\ Alliance\ No.2\ Light.otf) format('OpenType');
}

h1 {
    font-family: 'degarism-studio-alliance-no.2';
    font-weight: normal;
}

h1 u {
    font-family: 'degarism-studio-alliance-no.2';
    font-weight: normal; 
}

h2 {
    font-family: 'degarism-studio-alliance-no.2';
    font-weight: normal;
}

p {
    font-family: 'degarism-studio-alliance-no.2';
    font-weight: normal;
}

a {
    font-family: 'degarism-studio-alliance-no.2';
    font-weight: normal;
}

*/

/*End Font Stuff*/


body{
    background-color: #141414;
}


.navbar {
    background-blend-mode: lighten;
    border-bottom: 1px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    top: 0;
    z-index: 999;
    margin-top: 15px;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}



#navbar_logo {
    background-color: #000000;
    background-image: linear-gradient(to bottom, #e9e9e9 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
  }

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar_item{
    height: 80px;
}

.navbar_links{
    color: rgb(165, 160, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar_links:hover {
    color: rgb(122, 18, 207);
    transition: all 0.9s ease;
    text-decoration: underline;
    font-size: xx-large;
}




@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }


/* Start Main */

.main_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main_content h1 {
    font-size: 3rem;
    background-color: whitesmoke;
    background-image: linear-gradient(to top, #ffffff 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration-line: underline;
    text-align: left;
    font-weight: 400;
}

.main_content h2 {
    font-size: 2rem;
    background-color: rgb(90, 47, 47);
    background-image: linear-gradient(to top, #ffffff 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.main_btn {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 14px 32px;
    border: 5px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    transform: translateX(-300px);
}

.animate {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform: translateX(0);
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.main_btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(122, 18, 207);
    transition: all 0.35s;
    border-radius: 4px;
}

.main_btn:hover {
    color: #fff;
}

.main_btn:hover::after{
    width: 100%
}

.main_img_container{
    text-align: center;
}

#main_img {
    height: 8%;
    width: 80%;
}

.main_content u{
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-decoration-color: linear-gradient(to top, #e9e9e9 0%, #0021f100);
}

.main_content p {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: 600; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: left;
    line-height: 1.5;
}

.main_content ul, li {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 600; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
}

/* End Main */






/*Animations*/

.animated {
    opacity: 0;
    animation-duration: 4s;
    animation-delay: 6s;
    animation-fill-mode: both;
}

.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-100%);
    filter: blur(5px);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.logo:nth-child(2){
    transition-delay: 200ms;
}

.logo:nth-child(3){
    transition-delay: 300ms;
}

.logo:nth-child(4){
    transition-delay: 400ms;
}

.logo:nth-child(5){
    transition-delay: 500ms;
}



@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    50% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.fadeInLeft {
    -webkit-animation: fadeInLeft 5.2s both;
    -moz-animation: fadeInLeft 5.2s both;
    -o-animation: fadeInLeft 5.2s both;
    animation: fadeInLeft 5.2s both;
}

@-webkit-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft {
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInTop {
    -webkit-animation: fadeInTop 1.2s both;
    -moz-animation: fadeInTop 1.2s both;
    -o-animation: fadeInTop 1.2s both;
    animation: fadeInTop 1.2s both; 
}

@keyframes fadeInTop {
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

.fadeInRight {
    -webkit-animation: fadeInRight 5.2s both;
    -moz-animation: fadeInRight 5.2s both;
    -o-animation: fadeInRight 5.2s both;
    animation: fadeInRight 5.2s both; 
}

@keyframes fadeInRight {
    0%{
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0.20;
    }
    100%{
        opacity: 1;
    }
}
.fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn 2.5s both;
    -moz-animation: fadeIn 2.5s both;
    -o-animation: fadeIn 2.5s both;
    animation: fadeIn 2.5s both; 
}

/*End Animations*/





/*Skills Sections*/

.skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 75vh;
    
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.skills_content h1 {
    font-size: 3rem;
    background-color: whitesmoke;
    background-image: linear-gradient(to top, #ffffff 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 3rem;
}

.skills_content h2 {
    font-size: 2rem;
    background-color: rgb(90, 47, 47);
    background-image: linear-gradient(to top, #ffffff 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}


.skills_content u{
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-decoration-color: linear-gradient(to top, #e9e9e9 0%, #0021f100);
}

.skills_content p {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: 600; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: left;
}

.skills_content ul, li {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 600; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
}

.skills_btn {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 14px 32px;
    border: 5px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    margin-left: 300px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    transform: translateX(-300px);
}

.animate {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform: translateX(0);
}

.skills_btn a {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.skills_btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(122, 18, 207);
    transition: all 0.35s;
    border-radius: 4px;
}

.skills_btn:hover {
    color: #fff;
}

.skills_btn:hover::after{
    width: 100%
}

/*End skills section*/


/* Projects Section */

.projects_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.projects_content h1 {
    font-size: 3rem;
    background-color: whitesmoke;
    background-image: linear-gradient(to top, #ffffff 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-decoration-line: underline;
    text-align: left;
}

.projects_content h2 {
    font-size: 2rem;
    background-color: rgb(90, 47, 47);
    background-image: linear-gradient(to top, #ffffff 0%, #74757c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.projects_content p {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1.2rem;
    font-size: 1.3rem;
    font-weight: 600; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: left;
}


.projects_img--container{
    text-align: center;
}

#project_img {
    height: 8%;
    width: 80%;
}

.projects_content u{
    text-decoration-line: underline;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-style: solid;
    text-decoration-color: linear-gradient(to top, #e9e9e9 0%, #0021f100);
}

.projects_content p {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 600; 
    word-spacing: 5px;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

}

.projects_content li, ul {
    background-color: #05014a;
    background-image: linear-gradient(to top, #fff 0%, #fff 100%);
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700; 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    color: white;
    text-align: center;
}

.project_btn {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 14px 32px;
    border: 5px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    margin-left: 300px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    transform: translateX(-300px);
}

.project_btn a {
    position: relative;
    z-index: 2;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.project_btn::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(122, 18, 207);
    transition: all 0.35s;
    border-radius: 4px;
}

.project_btn:hover {
    color: #fff;
}

.project_btn:hover::after{
    width: 100%
}



/* End Projects Section */









